.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h4{
    margin-top: 30px;
}
.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}