.header{
    background-color: #3F3D56;
    width: 100%;
    padding: 10px;
}
.headerContent{
    color: white;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}